<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-reset-password.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <title>Reset Password</title>
</head>
<body>
    <div class="form-container">
        <form id="reset-password-form">
            <div class="password-container">
                <label for="password" class="password-input">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>
        <div id="error-message"></div>
    </div>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const password = document.getElementById('password').value;
            const errorMessageElement = document.getElementById('error-message');
            const token = '<%= token %>';

            if (errorMessageElement) {
                errorMessageElement.textContent = '';  // Clear any previous error message
            }

            try {
                const response = await fetch(`/reset/${token}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ password })
                });

                const data = await response.json();
                if (response.ok) {
                    alert('Password has been reset successfully.');
                    window.location.href = '/login';
                } else {
                    const errorMsg = data.message || 'Unexpected error occurred.';
                    if (errorMessageElement) {
                        errorMessageElement.textContent = errorMsg;
                    } else {
                        alert(errorMsg);
                    }
                    console.error('Error during password reset:', errorMsg);
                }
            } catch (error) {
                const generalErrorMessage = 'An error occurred. Please try again later.';
                if (errorMessageElement) {
                    errorMessageElement.textContent = generalErrorMessage;
                } else {
                    alert(generalErrorMessage);
                }
                console.error('Error during password reset:', error);
            }
        });
    </script>
</body>
</html>
